@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aboreto-regular {
    font-family: "Aboreto", system-ui !important;
    font-weight: 600;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.fs-7 {
    font-size: 0.8rem !important;
}

.navbar-brand {
    margin-left: 100px;
    text-decoration: none;
    list-style: none;
}

.login-button {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    text-decoration: none;
    /* Menghilangkan garis bawah pada link */
    color: #000000a6;
    /* Ubah warna teks sesuai kebutuhan */
    padding-right: 100px;
}

.logo {
    width: 18px;
    /* Atur lebar logo sesuai kebutuhan */
    height: auto;
    /* Mempertahankan proporsi logo */
}

.navbar-toggler {
    margin-left: -100px;
    /* Jarak antara toggler dan login button, sesuaikan sesuai kebutuhan */
    border: none;
    font-size: 1.25 rem;
}

.navbar :focus,
.btn-close :focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    position: relative;
}

.navbar-nav a:hover,
.nav-link.active {
    color: #000000;
    /* Ubah warna saat hover */
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #000000;
        visibility: hidden;
        transition: 0.3s ease-in-out;

    }

    .nav-link:hover:before {
        width: 100%;
        visibility: visible;
    }
}

/* Mengatur tampilan dropdown saat di-hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    /* Menampilkan dropdown */
    margin-top: 0;
    /* Mencegah penundaan margin */
}

/* Tambahkan pointer ke dropdown toggle */
.nav-link.dropdown-toggle::after {
    display: none;
    /* Menghapus tanda panah default bootstrap */
}


img {
    width: 100%;
}

.photo-grid-container {
    column-count: 5;
    column-width: 300px;
    padding: 16vh 10vh;
}

.photo-grid-item {
    margin: 0 auto 15px;
    max-width: 400px;
    width: 100%;
}