body {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    background-color: #FFE6A9;
}

.container-fluid {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 50%;
}

.edit-delete {
    text-decoration: none;
    color: black;
}

.btn-primary{
    background-color: #B1C29E;
    border: none;
}

.btn-primary:hover{
    background-color: #A1EEBD;
   
}


